body {
    background-image: linear-gradient(to right, #000000, #D21F1F, #FF2626);
    font-family: 'Indie Flower', cursive;
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: flex;

}

.cadast {
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 30px 30px;
    position: absolute;
    top: 90px;
    right: 30px;
    background-image: linear-gradient(to right, #FF2626, #D21F1F, #000000);
    border-radius: 30px;
}

.cadast label {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.cima label {
    display: inline-block;
    vertical-align: middle;
    padding-right: 170px;
    padding-left: 10px;
}

.baixo label {
    display: inline-block;
    vertical-align: middle;
    padding-right: 120px;
    padding-left: 70px;
}

.cadast input {
    font-size: 16px;
    padding: 13px 25px;
    margin: 5px 0;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #FF3636;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.cima input {
    display: inline-block;
    vertical-align: middle;
}

.baixo input {
    display: inline-block;
    vertical-align: middle;
}


.cadast input[type="submit"] {
    background-color: #FF3636;
    color: black;
    border: none;
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 13px;
    margin: auto;
    margin-bottom: 20px;
}

.cadast a {
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}